/* app/globals.css */
@import "tailwindcss";

/* アプリのオリジナルカラーをv4の方式で登録します */
@theme {
  --color-brand-bg: #50C7F4;    /* メイン背景(水色) */
  --color-brand-red: #E50000;   /* 新規登録(赤) */
  --color-brand-blue: #53BDED;  /* ログイン(濃い水色) */
}